BODY {
    margin: 15px;
    font-family: Arial;
    text-decoration: none;
    text-align: left;
}

P {
    margin: 0px;
}

B {
    margin-left: 5px;
    font-family:Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: blue;
    text-align: left;
}

H1 {
    font-family: Arial;
    font-size: 12pt;
    color: firebrick;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    text-align: center;
    margin-left: -15px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.list-item {
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}  

.indent-item1 {
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}  

.indent-item2 {
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}  

.indent-item3 {
	margin-left: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
}  

.indent-item4 {
	margin-left: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
}  

.indent-item5 {
	margin-left: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
}  

.indent-item6 {
	margin-left: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
}  

.indent-item7 {
	margin-left: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
}  

a {
    color: blue;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    text-align: left;
    color: blue;
    text-decoration: none;
}
a:visited {color: blue;}
a:hover {
    color: white;
    background-color: blue;
    font-weight: bold;
}


