    <h2>ISPs using <span class="nms">nms</span></h2>

    <p>A number of ISPs have decided that <span class="nms">nms</span> 
      programs are the best CGI programs to offer their customers.  This is
      happening most commonly with <b>formmail</b>. This is almost certainly
      the result of the recent increases in spam email sent via insecure
      versions of <b>formmail</b>.

    <p>The list of ISPs that we know about is here. If you are would like to
      be added to this list, please 
      <a href="mailto:davorg@users.sourceforge.net">let us know</a>.</p>

        <ul>
      <li><a href="http://www.hyve.com/cloud-hosting/technologies/php-mysql-hosting"><b>Hyve</b></a></li>
      <li><a href="http://www.verio.com/support/view_article.cfm?doc_id=1088">Verio</a></li>
      <li><a href="http://www.netbenefit.com/ontouch/?issue=3#5">NetBenefit</a></li>
      <li><a href="http://www.pwebtech.com/support.html#formmail">Pegasus Web Technology</a></li>

      <li><a href="http://www.iols.com/hosting/support/websites/cgi.htm">IOLS</a></li>

      <li><a href="http://webhuset.no/kundesenter/hjelp/nms-formmail.shtml">Webhuset Datasenter AS</a> (article in Norwegian)</li>

      <li><a href="http://faq.oneandone.co.uk/homepage/3.html">1&1</a></li>

      <li><a href="http://www.whizhost.com/faq.html#cgi">Whiz Host</a></li>

      <li><a href="http://www.hosteurope.com/">Host Europe</a></li>

      <li><a href="http://www.webfusion.co.uk/">Webfusion</a></li>

      <li><a href="http://www.2020dns-hosting.net/">2020DNS-Hosting</a></li>

      <li><a href="http://www.hostway.com/">Hostway</a></li>

      <li><a href="http://www.puredev.com/">Pure Development</a></li>

      <li><a href="http://stargate.net/">stargate.net</a></li>

      <li><a href="http://www.info-tech.com.au/">Infotech Hosting</a></li>

      <li><a href="http://www.webmachine.at/">WebMachine Technologies</a></li>

      <li><a href="http://ccsisp.com/">CCS ISP</a></li>

      <li><a href="http://www.fastcom.uk.com/aup/aup.html#nms">Fastcom
        Networks</a></li>

      <li><a href="http://www.virtualcube.com/">Virtual Cube</a></li>

      <li><a href="http://sentex.net/">Sentex Communications 
        Corporation</a></li>

      <li><a href="http://www.ixpres.com/">Internet Express</a></li>

      <li><a href="http://www.teknosurf.it/">Teknosurf.it</a></li>

      <li><a href="http://www.craftbros.com/notice.html">The Craft Brothers 
        Network</a></li>

      <li><a href="http://www.ilibris.be/">iLibris</a></li>

      <li><a href="http://www.your-site.com/">Your Site</a></li>

      <li><a href="http://www.hitspot.net"/>HitSpot</a></li>

      <li><a href="http://www.primerelay.net/helpdesk/web/cgi/">Primerelay</a></li>

      <li><a href="http://www.dreamhost.com/">DreamHost</a></li>

      <li><a href="http://www.simpatico.com/">Simpatico Hosting</a></li>

      <li><a href="http://www.real-marketing.com/">Real Marketing.Com</a></li>
 
      <li><a href="http://www.d2i.net/">D2 Internet</a></li>
 
      <li><a href="http://www.obantec.net/">Obantec</a></li>
 
      <li><a href="http://www.cowsnet.com.au/">Cowsnet Internet and Professional Services</a></li>

      <li><a href="http://www.spinn.net/">SpinnNet</a></li>
 
      <li><a href="http://www.communitech.net/">Communitech.net</a></li>
 
      <li><a href="http://www.irishdomains.com/">Irish Domains</a></li>

      <li><a href="http://newedge.com/">Newedge.com</a></li>

      <li><a href="http://1-host.com/">1Host</a></li>

      <li><a href="http://www.just-tel.co.uk/">JustTel Communications</a></li>

      <li><a href="http://www.drw.net/">DRW Networks Inc.</a></li>

      <li><a href="http://www.fas-track.net/">Fas-Track Networks</a></li>

      <li><a href="http;//www.tiv.net/">Tiv.net</a></li>

      <li><a href="http://www.anchor.net.au/">Anchor Systems</a></li>

      <li><a href="http://www.commercial-resources.com/">Commercial-Resources.com</a></li>

      <li><a href="http://www.computhouse.com/">ComputHouse.com</a></li>

      <li><a href="http://www.vianetworks.de/">Via Net.Works</a></li>

      <li><a href="http://www.jbagroup.net">JBA Group, Inc.</a></li>

      <li><a href="http://www.mylink.net/">MyLink</a></li>

      <li><a href="http://www.rapidhost.net/">RapidHost</a></li>

      <li><a href="http://www.dowco.com/">Dowco.com</a></li>

      <li><a href="http://eliteukserve.net/">EliteUKServe.net</a></li>

      <li><a href="http://www.jellico.com/">Netlink 2000, Inc.</a></li>

      <li><a href="http://www.netvantage.com.au/">Netvantage Australia</a></li>
 
    </ul>
