BODY, P, LI, UL, OL, TH, TD 	{
		font-family: arial, helvetica, sans-serif;
		color: #000000;
		background: #FFFFFF;
		}

H1, H2, H3, H4, H5, H6, TH {
		font-family: arial, helvetica, sans-serif;
		text-align: left;
		color: #990033;
	}
		
BODY {
  margin-left: 10%;
  margin-right: 10%;
}

ADDRESS {
		font-family: arial, helvetica, sans-serif;
		font-style: normal;
		font-size: smaller;
		color: #000000
		}

PRE {
	font-family: "Courier New", Courier, fixed;
    }

A:link, A:active, A:visited {
	text-decoration: underline;
	color: #990033;
	}
	
.small 	{
	font-size: smaller;
	}

.right  {
	text-align: right;
	}

.menu	{
	font-size: smaller;
	text-align: right;
	color: #990033;
	}

.quote	{
	font-size: larger;
	font-style: italic;
	margin-left: 10%;
	margin-right:10%;
	}

.squote	{
	font-style: italic;
	margin-left: 10%;
	margin-right:10%;
	}

.attrib	{
	font-style: italic;
	margin-left: 40%;
	text-align: right;
	}

.nms {
  font-size: 125%;
  font-style: italic;
  color: #330099;
}

